* {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav>ul>li {
    display: inline;
    margin-right: 30px;
}

nav li>a {
    text-decoration: none;

}

footer {
    text-align: center;
    margin-top: 30px;
}

article {
    margin-top: 40px;
    text-align: center;
}

label {
    display: block;
}